fastapi
uvicorn

pandas
openpyxl

python-dotenv
openai

langgraph

mcp[cli]
tavily-python

opentelemetry-api
opentelemetry-sdk
opentelemetry-instrumentation-fastapi

pydantic

pytest
requests

opentelemetry-exporter-otlp-proto-http
